<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <connectionStrings>
    <add name="MySqlDataBase" connectionString="Server=162.241.2.243;Database=giovan30_chameleon;Uid=giovan30_admin;Pwd=vrech2605;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>